*[b-mv7n2s407l] {
    --sidebar-width: 20%;
}

#detail-container[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 98%;
    transition: width 0.4s ease-in-out;
}

.card[b-mv7n2s407l] {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    max-width: 100%;
    margin: 2% 0;
}

.profile-section[b-mv7n2s407l] {
    display: flex;
    background-color: #28334a;
    padding: 20px;
    color: #fff;
}

.profile-image[b-mv7n2s407l] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .profile-image img[b-mv7n2s407l] {
        width: 50%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 3px solid white;
        object-fit: cover;
    }

.basic-details[b-mv7n2s407l] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

    .basic-details p[b-mv7n2s407l] {
        font-size: 16px;
        margin-bottom: 8px;
    }


#detail-name-div[b-mv7n2s407l] {
    display: flex;
    width: 100%;
}

#detail-name-div h1[b-mv7n2s407l] {
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: max-content;
    font-size: 28px;
}

#detail-edit-div[b-mv7n2s407l] {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

#detail-edit-icon[b-mv7n2s407l] {
    height: 40%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 0% 5%;
}

#detail-edit-icon:hover[b-mv7n2s407l] {
    cursor: pointer;
}

.details-section[b-mv7n2s407l] {
    padding: 20px;
}

    .details-section h2[b-mv7n2s407l] {
        font-size: 22px;
        margin-bottom: 10px;
        border-bottom: 2px solid #4a90e2;
        padding-bottom: 5px;
    }

.personal-details[b-mv7n2s407l],
.academic-records[b-mv7n2s407l],
.extracurricular[b-mv7n2s407l] {
    margin-bottom: 20px;
}

table[b-mv7n2s407l] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table[b-mv7n2s407l],
th[b-mv7n2s407l],
td[b-mv7n2s407l] {
    border: 1px solid #ddd;
}

th[b-mv7n2s407l],
td[b-mv7n2s407l] {
    padding: 10px;
    text-align: left;
}

th[b-mv7n2s407l] {
    background-color: #f4f4f4;
}

ul[b-mv7n2s407l] {
    list-style-type: disc;
    padding-left: 20px;
}

    ul li[b-mv7n2s407l] {
        margin-bottom: 5px;
    }

#nav-icon[b-mv7n2s407l] {
    width: 100%;
    max-width: 25px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.side-open-btn[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2dvw;
    min-width: 20px;
    border: none;
    background-color: #111724;
    padding: 0;
    border-right: solid 1px white;
    border-left: solid 1px white;
}


.side-open-btn:hover[b-mv7n2s407l] {
    cursor: pointer;
}

.side-close-btn[b-mv7n2s407l] {
    width: 10%;
}

.sidebar-div[b-mv7n2s407l] {
    display: flex;
    align-items: end;
    justify-content: right;
    height: 100%;
    width: 2%;
    min-width: 20px;
    background-color: gray;
    transition: width 0.4s ease-in-out;
}

.sidebar-open[b-mv7n2s407l] {
    background-color: gray;
}

#top-nav-div[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100%;
    border-bottom: solid 1px white;
}

#content-div[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 92%;
    width: 100%;
    background-color: lightgray;
    overflow-y: auto;
}

#top-profile-div[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 12%;
    min-width: max-content;
    background-color: #111724;
}

#profile-pic-div[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    min-width: max-content;
}

#spacer-div[b-mv7n2s407l] {
    display: flex;
    height: 100%;
    width: 70%;
    background-color: #111724;
}

#page-header[b-mv7n2s407l] {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 18%;
    min-width: max-content;
    background-color: #111724;
    color: white;
    font-size: 24px;
    padding: 0% 2%
}

#search-div[b-mv7n2s407l] {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: calc(100% - max(2dvw, 15px));
    background-color: #111724;
}

#search-bar-form[b-mv7n2s407l] {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#result-div[b-mv7n2s407l] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    background-color: lightgray;
    overflow: auto;
    align-items: center;
}

#result[b-mv7n2s407l] {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 90%;
    background-color: #28334a;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px black;
    border-radius: 15px;
    color: white;
    font-size: 15px;
}

#search-btn[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    margin-left: -2px;
    height: 44%;
    min-width: fit-content;
    border: none;
    border: solid 2px white;
    border-left-color: black;
    border-radius: 0 7px 7px 0;
    background-color: white;
    cursor: pointer;
}

    #search-btn:hover[b-mv7n2s407l] {
        background-color: lightgray;
    }

#dept-search[b-mv7n2s407l] {
    height: 40%;
    width: 70%;
    padding: 0 1%;
    border: solid 2px white;
    border-radius: 7px 0% 0% 7px;
}

#profile-pic[b-mv7n2s407l] {
    object-fit: cover;
    height: 70%;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 100%;
}

#profile-name[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.dropbtn[b-mv7n2s407l] {
    color: white;
    padding: 0 1%;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown[b-mv7n2s407l] {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    min-width: max-content;
    cursor: pointer;
    color: white;
    padding: 0 12px;
}

.dropdown-content[b-mv7n2s407l] {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    height: max-content;
    width: 85%;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 80%;
    overflow: hidden;
}

    .dropdown-content button[b-mv7n2s407l] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: max-content;
        color: black;
        text-decoration: none;
        padding: 7% 0%;
        background-color: white;
        border: none;
        word-wrap: normal;
    }
        .dropdown-content button:hover[b-mv7n2s407l] {
            cursor: pointer;
            background-color: lightgray;
        }

.dropdown:hover .dropdown-content[b-mv7n2s407l] {
    display: flex;
}

#popup-back-div[b-mv7n2s407l] {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#popup-div[b-mv7n2s407l] {
    display: flex;
    height: 70%;
    width: 70%;
    background-color: #fcfeff;
    z-index: 3;
    overflow: auto;
    border: none;
    border-radius: 5px;
    position: relative;
    border: solid 1px black;
}

#close-popup[b-mv7n2s407l] {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

#close-popup:hover[b-mv7n2s407l] {
    cursor: pointer;
}

#form-fieldset[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    flex-direction: column;
    row-gap: 4%;
    padding: 2%;
}

.edit-input[b-mv7n2s407l] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.edit-input label[b-mv7n2s407l]{
    width: max-content;
    padding: 0 4%;
    font-size: 16px;
    font-weight: bold;
}

    .edit-input input[b-mv7n2s407l] {
        width: 100%;
        padding: 2% 1%;
    }

#edit-form-btn[b-mv7n2s407l] {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #008CBA;
    border-radius: 5px;
}

    #edit-form-btn:hover[b-mv7n2s407l] {
        background-color: white;
        color: black;
    }