@page "/login"

<PageTitle>Login Form</PageTitle>
<link rel="stylesheet" href="styles/user.css" />


<div id="left-div">
	<div id="left-img-div">
		<img src="images/side.png" alt="Side Image" id="left-img" />
	</div>

</div>

<div id="right-div">
	<div id="right-img-div">
		<img src="images/side2.jpg" alt="Background" id="right-img" />
	</div>
	<div class="wrapper">
		<form action="#">
			<h2>Login</h2>
			<div class="input-field">
				<input type="email" required />
				<label>Enter your email</label>
			</div>
			<div class="input-field">
				<input type="password" required />
				<label>Enter your password</label>
			</div>
			<div class="forget">
				<label for="remember">
					<input type="checkbox" id="remember" />
					<p>Remember me</p>
				</label>
				<a href="#">Forgot password?</a>
			</div>
			<button type="submit">Log In</button>
			<div class="register">
				<p>Don't have an account? <a href="/signup">Signup</a></p>
			</div>
		</form>
	</div>

</div>
